<h1><%= @gallery.title %></h1>
<%= @gallery.description %>
<br>
<div class="d-flex justify_content_between">
    <%= button_to "Back", galleries_path, method: :get, class: "btn btn-light px-2" %>
    <% if @can_edit_gallery %>
        <%= button_to "Edit", edit_gallery_path(@gallery.id), method: :get, class: "btn btn-dark" %>
    <% end %>
</div>
